<%- include("partials/header"); -%>
<h1>Compose</h1>


<form action="/compose" method="post">
    <div class="mb-3 form-group">
      <label for="postTitle" class="form-label">Title</label>
      <input type="text" class="form-control" name="postTitle" >
      <label for="postContent" class="form-label">Post</label>
      <textarea type="text" class="form-control" name="postContent" cols="30" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
<%- include("partials/footer"); -%> 